html{
	box-sizing: border-box;	
}
body{
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: Helvetica,sans-serif;
}
h1{
	position: fixed;
	width: 100%;
	font-size:250%;
	color: #fff;
	text-align: center;
}
section{
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: center top;
	width: 100%;
	height: 100vh;
}
.I{
background-image:url(Images/IceSkater1.JPG);
}
.II{
	background-image: url(Images/IceSkater2.JPG);
}
.III{
	background-image: url(Images/IceSkater3.JPG);
}
.IV{
	background-image: url(Images/IceSkater4.JPG);
}
.V{
	background-image: url(Images/IceSkater5.JPG);
}
.VI{
	background-image: url(Images/IceSkater6.JPG);
}
.VII{
	background-image: url(Images/IceSkater7.JPG);
}
.VIII{
	background-image: url(Images/IceSkater8.JPG);
}
.IX{
	background-image: url(Images/IceSkater9.JPG);
}
.X{
	background-image: url(Images/IceSkater10.JPG);
}
.XI{
	background-image: url(Images/IceSkater11.JPG);
}
.XII{
	background-image: url(Images/IceSkater12.JPG);
}

.XIII{
	background-image: url(Images/IceSkater13.JPG);
}

.XIV{
	background-image: url(Images/IceSkater14.JPG);
}






